---
http_interactions:
- request:
    method: get
    uri: https://api.linkedin.com/v1/people-search?company-name=linkedin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="C2UfeHxZrij1PyppziDLbdUQti6f4TLaL-N0dyiV_us4Pj18_vsHcjKIX0i69fSn",
        oauth_nonce="5DbPHhxweU6eNBPoAJqkobtxNsZDDIgtmfF0sx3rmQE", oauth_signature="DkRDger8eQvtJq1i8%2FjHzrNAFis%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1305061368", oauth_token="afb39322-be32-4b83-83a0-7e35e18d3082",
        oauth_version="1.0"
      X-Li-Format:
      - json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Format:
      - json
    body:
      encoding: UTF-8
      string: ! "{\n  \"numResults\": 5228,\n  \"people\": {\n    \"values\": [\n
        \     {\n        \"id\": \"VQcsz5Hp_h\",\n        \"lastName\": \"Denker\",\n
        \       \"firstName\": \"Donald\"\n      },\n      {\n        \"id\": \"YEDghC612B\",\n
        \       \"lastName\": \"S.\",\n        \"firstName\": \"Daniel\"\n      },\n
        \     {\n        \"id\": \"KMioNXVEg9\",\n        \"lastName\": \"H.\",\n
        \       \"firstName\": \"Reid\"\n      },\n      {\n        \"id\": \"ILGTOKmto4\",\n
        \       \"lastName\": \"Ruff\",\n        \"firstName\": \"Lori\"\n      },\n
        \     {\n        \"id\": \"xr5jcMXKPm\",\n        \"lastName\": \"C.\",\n
        \       \"firstName\": \"Ed\"\n      },\n      {\n        \"id\": \"aeejoSqHsN\",\n
        \       \"lastName\": \"T.\",\n        \"firstName\": \"Brian\"\n      },\n
        \     {\n        \"id\": \"VYC0P9hxVN\",\n        \"lastName\": \"Giffen\",\n
        \       \"firstName\": \"Sean\"\n      },\n      {\n        \"id\": \"kWPJPI1lrJ\",\n
        \       \"lastName\": \"Seps\",\n        \"firstName\": \"Chad\"\n      },\n
        \     {\n        \"id\": \"1PYJr69P5V\",\n        \"lastName\": \"Vasconcelos\",\n
        \       \"firstName\": \"Cesar\"\n      },\n      {\n        \"id\": \"AU5Dv63Fma\",\n
        \       \"lastName\": \"Ling\",\n        \"firstName\": \"James\"\n      }\n
        \   ],\n    \"_count\": 10,\n    \"_start\": 0,\n    \"_total\": 110\n  }\n}"
  recorded_at: Tue, 01 May 2012 03:16:40 GMT
- request:
    method: post
    uri: https://api.linkedin.com/uas/oauth/requestToken
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_body_hash="2jmj7l5rSw0yVb%2FvlWAYkK%2FYBwk%3D", oauth_callback="oob",
        oauth_consumer_key="a39e395e-bc38-4d5b-ae3b-52f840f821e9", oauth_nonce="jCUtbvZXpwNVfrj2x0XmxFfQD55R4NoJqVnhgjKEno",
        oauth_signature="8XiRWCIiDK%2Fwr%2FTLttRDPnsFaiE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1329922227", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - OAuth realm="https%3A%2F%2Fapi.linkedin.com", oauth_problem="consumer_key_unknown"
      Content-Type:
      - application/x-www-form-urlencoded;charset=UTF-8
    body:
      encoding: UTF-8
      string: oauth_problem=consumer_key_unknown
  recorded_at: Tue, 01 May 2012 03:16:40 GMT
- request:
    method: get
    uri: https://api.linkedin.com/v1people-search?company-name=linkedin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Li-Format:
      - json
      Authorization:
      - OAuth oauth_consumer_key="n22cs9eyo36s", oauth_nonce="5oBn6Ns1YZXUeh0oEmAcCjQrXFhf6c652LEGbFbYe4",
        oauth_signature="yHtXFEkeWfhnrsEpDaXn2Epv9KY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1329991237", oauth_token="a39e395e-bc38-4d5b-ae3b-52f840f821e9",
        oauth_version="1.0"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ! "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\"\n
        \       \"http://www.w3.org/TR/html4/loose.dtd\">\n<html>\n<head>\n  <title>404:
        Page Not Found</title>\n  <meta http-equiv=\"content-type\" content=\"text/html;
        charset=UTF-8\">\n  <link rel=\"stylesheet\" type=\"text/css\" href=\"/css/style.css\">\n</head>\n\n<body
        class=\"errorpg\">\n\n<div id=\"header\">\n  <a href=\"/home\"><img src=\"/img/logos/logo.gif\"
        width=\"129\" height=\"36\" alt=\"Linkedin\"></a>\n</div>\n\n<div id=\"main\"
        class=\"error404\">\n  <h1>Page Not Found</h1>\n  <p>The page you requested
        is no longer available, or cannot be found.</p>\n  <p class=\"bottom\">Please
        double-check the URL (address) you used, or <a href=\"mailto:customer_service@linkedin.com\">contact
        us</a> if you feel you have reached this page in error.</p>\n  <p class=\"top
        helper\"><strong>Click the &#8220;Back&#8221; button on your browser or <a
        href=\"/home\">go to the home page</a>.</strong></p>\n  \n  <br>\n  \n  <p><strong>Are
        you looking for any of these LinkedIn features?</strong></p>\n  <ul>\n    <li><a
        href=\"/search\">Find People</a></li>\n    <li><a href=\"/jobs\">Find Jobs</a></li>\n
        \   <li><a href=\"/services\">Find Services</a></li>\n    <li><a href=\"/reconnect?displayCategories=\">Reconnect
        with Colleagues</a></li>\n  </ul>\n  \n  <ul>\n    <li><a href=\"/static?key=outlook_toolbar_download\">Outlook
        Toolbar</a></li>\n    <li><a href=\"/static?key=firefox_companion_download\">Firefox
        Companion</a></li>\n    <li><a href=\"/static?key=ie_toolbar_download\">Internet
        Explorer Toolbar</a></li>\n    <li><a href=\"/static?key=groups_info\">LinkedIn
        for Groups</a></li>\n  </ul>\n\n  <ul>\n    <li><a href=\"https://www.linkedin.com/secure/settings\">My
        Account</a></li>\n    <li><a href=\"/profile\">My Profile</a></li>\n    <li><a
        href=\"/connections\">My Connections</a></li>\n    <li><a href=\"/inviteMany\">Add
        Connections</a></li>\n  </ul>\n  <div class=\"spacer\">&nbsp;</div>\n</div>\n\n</body>\n</html>"
  recorded_at: Tue, 01 May 2012 03:16:40 GMT
recorded_with: VCR 2.1.1
